 /* heading part & image */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  margin-top: 250px;
  margin-left: 90px;
}

.right {
  right: 0;
}
/* button */
.work{
    font-size: 20px;
    margin-left: 200px;
    margin-top: 10px;
    border-radius: 7px;
}
work:hover{
    /* background-color: red; */
    cursor: pointer;   
}